<div class="browser">
  <div class="browser-window">
    <div class="browser-top-bar">
      <div class="browser-circle"></div>
      <div class="browser-circle"></div>
      <div class="browser-circle"></div>
    </div>
    <div class="browser-content">
    </div>
  </div>
</div>
