<div class="search-tools">
  <div class="filter feature">
  <label for="">First filter</label>
    <div class="hide-options">
      <ol>
        <li>
          <input type="checkbox">
          <label for="" class="collection_check_boxes">Filter option</label>
        </li>
        <li>
          <input type="checkbox">
          <label for="" class="collection_check_boxes">Another option</label>
        </li>
        <li>
          <input type="checkbox">
          <label for="" class="collection_check_boxes">Third option</label>
        </li>
      </ol>
    </div>
  </div>
  <div class="filter feature">
    <label for="">Second filter</label>
    <div class="hide-options">
      <ol>
        <li>
          <input type="checkbox">
          <label for="" class="collection_check_boxes">Filter option</label>
        </li>
        <li>
          <input type="checkbox">
          <label for="" class="collection_check_boxes">Another option</label>
        </li>
        <li>
          <input type="checkbox">
          <label for="" class="collection_check_boxes">Third option</label>
        </li>
      </ol>
    </div>
  </div>
  <div class="search-tools-trigger">
    <button class="">Update</button>
  </div>
</div>
