<div class="side-image">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-thin.png" alt="">
  <div class="content">
    <h2>Title</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut eveniet facilis sunt necessitatibus adipisci, quis vitae, soluta aspernatur tempora reiciendis, harum consequuntur ad. Sunt officiis ut cum quibusdam fugiat reiciendis.</p>
  </div>
</div>
